@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #073b4c;
  color: #fff;
}

h1 {
  text-align: center;
  margin: 100px auto 50px;
}

form {
  width: 90vw;
  max-width: 37.5em;
  margin: auto;
  height: 5em;
  background: #118ab2;
  display: flex;
  align-items: center;
  border-radius: 8px;
}

form input {
  width: 75%;
  flex: 1;
  height: 100%;
  border: 0;
  outline: 0;
  background: transparent;
  color: #fff;
  font-size: 1.125rem;
  padding: 0 30px;
}

::placeholder {
  color: #92c9db;
}

form button {
  width: 25%;
  padding: 0 40px;
  height: 100%;
  background: #06d6a0;
  color: #073b4c;
  font-size: 1.125rem;
  border: 0;
  outline: 0;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#show-more-btn {
  background: #06d6a0;
  color: #073b4c;
  border: 0;
  outline: 0;
  padding: 10px 20px;
  border-radius: 4px;
  margin: 10px auto;
  margin-bottom: 10em;
  cursor: pointer;
  display: none;
}

#search__result {
  width: 80%;
  margin: 100px auto 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
}

#search__result img {
  width: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
  border-radius: 5px;
}

.footer {
  background-color: #118ab2;
  color: #fff;
  padding: 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

@media (max-width: 400px) {
  h1 {
    font-size: 1.5rem;
  }

  form {
    height: 4em;
  }

  form input {
    font-size: 1rem;
  }

  form button {
    font-size: 1rem;
  }
}
